
body {
  padding: 1em 5em;
  font-family: sans-serif;
  max-width: 75ch;
  margin: 0 auto;
  font-size: 1.2em;
}

// Fix issue with fancybox
body.compensate-for-scrollbar {
  padding-right: 5em;
}

p {
  margin: 1.4em 0;
}

blockquote {
  margin: 1em 0;
}

cite {
  font-weight: 600;
}

figure img {
  width: 20em;
}

h1 {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-around {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-full {
  flex: 1 0 100%;
}

.full-width {
  width: 100%;
}

.align-left {
  align-self: flex-start;
}

.align-center {
  align-self: center;
}

.left-margin {
  margin-left: 2em;
}

.margin-x {
  margin: 0.4em 0;
}

.margin-bottom {
  margin-bottom: 0.6em;
}

.margin-none {
  margin: 0;
}

.bold {
  font-weight: 600;
}

.gallery {
  margin: 2em 0;
}

.gallery img {
  max-height: 120px;
}

.book {
  margin: 3em 0;
}

.book > img {
  float: left;
  margin-right: 2em;
  width: 10em;
}

.logo {
  max-width: 100%;
}